
#headline { color: #333333; }
#headline .link { width: 300px; }
#headline .link:hover { font-weight: bold; }
#test { color: #000000; }
#test ul { padding: 0; }
#test ul.hallo { font-weight: bold; }

