DIV#preview {background-color: f8f8f8;}
.LineNumber {color:#CCCCCC;}
.hlvAlert {color:#0000ff;}
.hlvBaseN {color:#007f00;}
.hlvBString {color:#c9a7ff;}
.hlvChar {color:#ff00ff;}
.hlvComment {color:#333333;font-style:italic;}
.hlvDataType {color:#000099;}
.hlvDecVal {color:#00007f;}
.hlvError {color:#ff0000;font-style:italic;font-weight:bold;}
.hlvFloat {color:#00007f;}
.hlvFunction {color:#CC3300;}
.hlvIString {color:#007f00;}
.hlvKeyword {color: #000000;font-weight: bold;}
.hlvOperator {color:#000000;}
.hlvOthers {color:#b03060;}
.hlvRegionMarker {color:#96b9ff;font-style:italic;}
.hlvReserved {color:#9b30ff;font-weight:bold;}
.hlvString {color:#007f00;}
.hlvVariable {color:#0000ff;font-weight:bold;}
.hlvWarning {color:#0000ff;font-style:italic;font-weight:bold;}
